svg.MuiSvgIcon-root.mood_icon {
  width: 300px;
  height: 300px;
  color: #e9ae0e; }

.payment_container {
  min-height: 75vh;
  max-width: 600px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin: auto;
  padding: 0px 15px; }
  .payment_container .payment__text .payment_label {
    font-size: 25px;
    line-height: 50px;
    font-weight: 500;
    display: flex;
    text-align: center; }

.payForLiqPay {
  padding: 15px 60px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #E31837;
  color: #fff;
  font-size: 18px;
  font-weight: 700;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
  margin: 20px 0px;
  border: 1px solid #fff; }
