* {
  padding: 0;
  margin: 0;
  font-family: "Roboto Condensed", sans-serif;
  box-sizing: border-box; }

.container {
  margin: auto; }

.best__pizza__block {
  background-color: #f8f8f8; }
  .best__pizza__block .pizza__best {
    text-align: center;
    padding: 20px;
    font-size: 30px;
    font-weight: 700; }
  .best__pizza__block .pizza__full__block {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap; }

.checking_panel {
  display: flex;
  justify-content: center;
  align-items: center; }
  .checking_panel .wrapper_checking {
    display: flex;
    justify-content: space-between; }

.find_pizza_label {
  font-size: 20px;
  font-weight: 700;
  line-height: 40px;
  text-align: center;
  padding: 10px 30px; }

.checkboxed {
  display: grid;
  grid-template-columns: 200px 200px 200px; }

.checkbox__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column; }

.filter_panel {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 900px;
  width: 100%;
  margin: auto; }

.filter_icon {
  cursor: pointer; }

.filter {
  font-size: 24px;
  padding: 20px;
  font-weight: 700; }

.inputs_search {
  display: flex;
  justify-content: space-around;
  align-items: center; }

.price__filtration {
  display: flex;
  justify-content: center;
  align-items: center; }

@media screen and (max-width: 600px) {
  .price__filtration {
    display: flex;
    flex-direction: column; }

  .checking_panel {
    display: flex;
    flex-direction: column; } }
