.footer {
  width: 100%;
  background-color: #000000;
  color: #fff;
  display: flex;
  justify-content: space-around;
  padding: 3em 2em 2em; }

.footer_item_main {
  font-weight: 700;
  font-size: 18px;
  color: #fff;
  text-transform: uppercase; }

.footer_label {
  color: #8d8d8d;
  font-size: 16px;
  padding-top: 1em;
  cursor: pointer;
  transition: 0.5s; }

.footer_label:hover {
  color: #fff;
  transition: 0.5s; }

.img_visa {
  margin-right: 20px; }

@media screen and (max-width: 570px) {
  .footer {
    display: flex;
    flex-direction: column;
    align-items: center; }
    .footer .footer_item_main {
      text-align: center;
      margin-top: 20px; }
    .footer .footer_label {
      text-align: center; }

  .img_visa {
    margin-left: 30px; } }
